body.dark-theme {
  --bg: #07090a;
  --bg2: #1b1c1c;
  --border-color: #666b73;
  --text-color: white;
  --nav: #1e293b;
  --hover: #2563eb;
  --active: #1d4ed8;
}

/* Светлая тема */
body.light-theme {
  --bg: #f0f4f8;
  --bg2: #f0f4f8;
  --border-color: #666b73;
  --text-color: black;
  --nav: #e2e8f0;
  --hover: #cbd5e1;
  --active: #94a3b8;
}
