<div class="example-container">
  <input type="text" [bvbTooltip]="'Тест'" />
  <div class="test-div" [bvbTooltip]="'Тест'"></div>
  <button [bvbTooltip]="'Тест'">Наведи</button>
  <textarea name="" rows="3" cols="10" id="" [bvbTooltip]="'Тест'"></textarea>
  <label for="pet-select" [bvbTooltip]="'Тест'">Choose a pet:</label>

  <select name="pets" id="pet-select" [bvbTooltip]="'Тест'">
    <option value="">--Please choose an option--</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select>
  <input type="checkbox" [bvbTooltip]="'Тест'" />
  <input type="radio" [bvbTooltip]="'Тест'" />
</div>
